body {
    background-image: none;
}

.nombTitu{
    position: relative;
    border: 12px solid;
}

.domiTitu{
    position: relative;
}

.brutTitu{
    position: relative;
}

.cuitTitu{
    position: relative;
}

.habiTitu{
    position: relative;
}

.legaTitu{
    position: relative;
}

.fecha{
    position: relative;
}

.nombPermi{
    position: relative;
}

.licencia{
    position: relative;
}

.oblea{
    position: relative;
}

.vacio{
    position: relative;
}

.nombAgen{

}

.marcaAuto{

}

.modeAuto{

}

.anioAuto{

}

.domiAuto{

}

.nombReloj{

}

.numeReloj{

}

.numePrec{

}

.bdia{

}

.bnoch{

}

.mdia{

}

.mnoch{

}


.taller{

}
