body {
    background-image: none;
}

div{
    font-family: "Arial", "Helvetica Neue", sans-serif;
    font-style: normal;
    position: relative;
    font-size: 12pt;
    font-stretch: ultra-condensed;
}

.nombTitu{
    padding-top: 62pt;
    margin-left: 71pt;
}

.domiTitu{
    margin-top: 4pt;
    margin-left: 75pt;
}

.brutTitu{
    margin-top: 4pt;
    margin-left: 73pt;
}

.cuitTitu{
    margin-top: -16pt;
    margin-left: 205pt;
}

.habiTitu{
    margin-top: 4pt;
    margin-left: 40pt;
}

.legaTitu{
    margin-top: -15pt;
    margin-left: 247pt;
}

.fecha{
    margin-top: -15pt;
    margin-left: 400pt;
}

.nombPermi{
    margin-top: 20pt;
    margin-left: 50pt;
}
.dniPermi{
    margin-top: 4pt;
    margin-left: 56pt;
}
.direPermi{
    margin-top: 4pt;
    margin-left: 53pt;
}
.licencia{
    margin-top: 4pt;
    margin-left: 66pt;
}

.oblea{
    margin-top: -15pt;
    margin-left: 253pt;
}

.vacio1{
    margin-top: -15pt;
    margin-left: 253pt;
}

.vacio2{
    margin-top: 4pt;
    margin-left: 66pt;
}

.nombAgen{
    margin-top: -15pt;
    margin-left: 390pt;

}

.marcaAuto{
    margin-top: 5pt;
    margin-left: 50pt;
}

.modeAuto{
    margin-top: -15pt;
    margin-left: 210pt;
}

.anioAuto{
    margin-top: -16pt;
    margin-left: 300pt;

}

.domiAuto{
    margin-top: -16pt;
    margin-left: 410pt;
}

.nombReloj{
    margin-top: 4pt;
    margin-left: 53pt;
}

.numeReloj{
    margin-top: -15pt;
    margin-left: 210pt;
}

.numePrec{
    margin-top: -15pt;
    margin-left: 422pt;
}

.bdia{
    margin-top: 17pt;
    margin-left: 69pt;
}

.bnoch{
    margin-top: -2pt;
    margin-left: 69pt;
}
.mdia{
    margin-top: 1pt;
    margin-left: 12pt;
}
.mnoch{
    margin-left: 12pt;
}

.taller{
    font-size: 9pt;
    font-weight: bold;
    margin-top: -53pt;
    margin-left: 420pt;
}

.tallernum{
    font-size: 9pt;
    font-weight: bold;
    margin-top: -2pt;
    margin-left: 433pt;
}

.tallernom{
    font-weight: bold;
    font-size: 6pt;
    margin-top: -1pt;
    margin-left: 404pt;
}
