<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Ingenieria Giubergia - Contacto</title>
    <meta name=robots content=all>
    <meta name=googlebot content=all>
    <meta name=language content=es>
    <meta name=classification content="Empresa orientada a la instalacion de accesorios para taxis">
    <meta property=type content=website>
    <meta property=site_name content="Ingenieria Giubergia">
    <meta property=title content="Empresas instaladoras de accesorios en taxis">
    <meta name=description content="Ingenieria Giubergia es una empresa orientada a la instalacion de accesorios (tacografos, taximetros, etc) en los vehiculos (taxis y remises).">
    <meta name=keywords content="taxis, remises, tacografos, taximetros, accesorios, autos, remis, taxi, localizadores, mapa, Rio Cuarto, Cordoba, Ingenieria Giubergia, Giubergia, Ingeniero, Ingenieria">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="fonts/style.css">
    <link rel="stylesheet" href="fonts2/style2.css">
    <link rel="stylesheet" href="css/contacto.css">
    <link rel="shortcut icon" type="image/x-icon" href=fav.png>
</head>

<body>
    <header>
        <div class="contenedor">
           <h1>Ingenieria Giubergia</h1>
           <input type="checkbox" id="menu-bar">
           <label class="icon-menu" for="menu-bar"></label>
           <nav class="menu">
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li class="submenu">
                        <a href="#">Productos<span class="caret icon-chevron-small-down"></span></a>
                        <ul class="children">
                            <li><a href="taximetros.html">Relojes Taximetros</a></li>
                            <li><a href="tacografos.html">Tacografos</a></li> 
                            <li><a href="localizadores.html">Localizadores </a></li>
                            <li><a href="accesorios.html">Accesorios</a></li>
                            <li><a href="handys.html">Handys</a></li>
                            <li><a href="radios.html">Radios</a></li>
                        </ul>
                    </li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
           </nav>
        </div>
    </header>
    <section>
       <div class="tex">
       <p>    <strong>Horarios de atención:</strong> de lunes a viernes de 8:30 a 12:30hs y sábado de 09:00 a 12:00hs. <br> <br>
            <strong>Dirección:</strong> Sadi Carnot 1267 esq Washington, Rio Cuarto, Cba. <br> <br>
            <strong>e-mail: </strong>ingenieriagiubergia@gmail.com. <br> <br>
            <strong>Telefono:</strong> 0358- 4643996/ 0358-154027674/0358-156015517. <br> <br>
            <strong>Facebook:</strong> Ingenieria Giubergia <br>
         </p>
       
       </div>
        <div class="formulario">
            <form action="enviar.php" method="post">
                <input class="nombre" type="text" name="nombre" placeholder="nombre" required>
                <input class="correo" type="email" name="correo" placeholder="correo" required>
                <textarea name="mensaje" cols="30" rows="10" placeholder="mensaje"></textarea>
                <input type="submit" value="Enviar mensaje" id="boton">
            </form>          
        </div>  
 
	</section>
            
            <div class="mapa">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3341.3361639335963!2d-64.34262!3d-33.126532!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95d2003e98be33ff%3A0xd2c9a5f68bba083c!2sSadi+Carnot+1267%2C+R%C3%ADo+Cuarto%2C+C%C3%B3rdoba%2C+Argentina!5e0!3m2!1ses!2sar!4v1475939107209" frameborder="0" style="border:0" allowfullscreen></iframe>    
</div>     



</body>
</html>