<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Ingenieria Giubergia </title>
    <meta name=robots content=all>
    <meta name=googlebot content=all>
    <meta name=language content=es>
    <meta name=classification content="Empresa orientada a la instalacion de accesorios para taxis">
    <meta property=type content=website>
    <meta property=site_name content="Ingenieria Giubergia">
    <meta property=title content="Empresas instaladoras de accesorios en taxis">
    <meta name=description content="Ingenieria Giubergia es una empresa orientada a la instalacion de accesorios (tacografos, taximetros, etc) en los vehiculos (taxis y remises).">
    <meta name=keywords content="taxis, remises, tacografos, taximetros, accesorios, autos, remis, taxi, localizadores, mapa, Rio Cuarto, Cordoba, Ingenieria Giubergia, Giubergia, Ingeniero, Ingenieria">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="fonts/style.css">
    <link rel="stylesheet" href="fonts2/style2.css">
    <link rel="shortcut icon" type="image/x-icon" href=fav.png>
</head>

<body>
    <header>
        <div class="contenedor">
           <h1>Ingenieria Giubergia</h1>
           <input type="checkbox" id="menu-bar">
           <label class="icon-menu" for="menu-bar"></label>
           <nav class="menu">
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li class="submenu">
                        <a href="#">Productos<span class="caret icon-chevron-small-down"></span></a>
                        <ul class="children">
                            <li> <a href="taximetros.html">Relojes Taximetros</a></li>
                            <li> <a href="tacografos.html">Tacografos</a></li> 
                            <li> <a href="localizadores.html">Localizadores </a></li>
                            <li> <a href="accesorios.html">Accesorios</a></li>
                            <li><a href="handys.html">Handys</a></li>
                            <li><a href="radios.html">Radios</a></li>
                        </ul>
                    </li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
           </nav>
        </div>
    </header>
   
    <main>
       <section id="banner">
     
            <img src="imagenes/banner.jpg" alt="banner Ing Giubergia">
       </section>
       
        <section id="bienvenidos">
           <a href="index.html"><h2>BIENVENIDOS</h2></a>
           <div class="linea"></div>
           <p>
                Ingenieria  Giubergia es una empresa dedicada a la prestación de servicios y fabricación de productos propios, atendido por sus propios dueños. La ventaja de elegirnos es de contar con un respaldo de más de 20 veinte años en el rubro y los productos que  vendemos somos representantes oficiales o fabriantes  de los mismos, contando así, con respaldo y garantía absoluta.<br>
                Nuestra política de trabajo es satisfacer al cliente, proponiéndonos como objetivo que el servicio/producto funcione de manera adecuada, en el menor tiempo posible y al mejor costo del mercado.

           </p>
        </section>
       
       <section id="blog">
            <h3>Nuestros pordutos</h3>
            <div class="contenedor">
                </article>
                <article>
                   <div class="img4"><a href="tacografos.html"><img src="imagenes/Tacografos/3.jpg" alt="Tacografo1"></div>
                   <h4>Tacógrafos</h4></a>
                </article>
                <article>
                   <div class="img5"><a href="localizadores.html"><img src="imagenes/Localizadores/5.jpg" alt="Localizador1"></div>
                   <h4>Localizadores</h4></a>
                </article>
                <article>
                   <div class="img6"><a href="accesorios.html"><img src="imagenes/Accesorios/10.jpg" alt="Accesorio1"></div>
                   <h4>Accesorios</h4></a>
                </article>    
                <article>
                   <div class="img1"><a href="taximetros.html"><img src="imagenes/Relojestaximetros/1.jpg" alt="Taximetro1"></div>
                   <h4>Taximetros </h4></a>
                </article>
                <article>
                   <div class="img2"><a href="radios.html"><img src="imagenes/Radios/11.jpg" alt="Radio1"></div>
                   <h4>Radios</h4></a>
                </article>
                <article>
                   <div class="img3"><a href="handys.html"><img src="imagenes/Handy/1.jpg" alt="Handy1"></div>
                   <h4>Handy</h4></a>
              </article>
            </div>
            
            <div class="vermas">
                <a href="taximetros.html"><h2>Ver productos</h2></a>
            </div>
       </section>
       
        <section id="info">
            <h3>Lineas con las que trabajamos</h3>
            <div class="contenedor">
                <div class="info"><img src="imagenes/marcas1.png" alt="Ariel Milenio">
                        <h4>Ariel Milenio</h4>
                        </img>
                </div>
                <div class="info"><img src="imagenes/marcas2.png" alt="Vertex Standard">
                        <h4>Vertex Standard</h4>
                        </img>
                </div>
                <div class="info"><img src="imagenes/fulmar.png" alt="Ful Mar">
                        <h4>Ful Mar</h4>
                        </img>
                </div>
            </div>
           
       </section>  
    </main>

    <footer>
        <div class="contenedor">
           <p class="copy"><strong> Ingenieria Giubergia &copy; 2016 </strong>
           </p>
           
            <div class="sociales">
                <p><strong>Sadi Carnot 1267 esq. Washington</strong></p>
                <p><strong>358 6015517 / 358 4027674 / 4643996</strong></p>
                <p>
                    <strong>Rio Cuarto - Córdoba</strong>
                </p>
            </div>
       </div>
    </footer>
</body>
</html>