<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Ingenieria Giubergia - Localizadores</title>
    <meta name=robots content=all>
    <meta name=googlebot content=all>
    <meta name=language content=es>
    <meta name=classification content="Empresa orientada a la instalacion de accesorios para taxis">
    <meta property=type content=website>
    <meta property=site_name content="Ingenieria Giubergia">
    <meta property=title content="Empresas instaladoras de accesorios en taxis">
    <meta name=description content="Ingenieria Giubergia es una empresa orientada a la instalacion de accesorios (tacografos, taximetros, etc) en los vehiculos (taxis y remises).">
    <meta name=keywords content="taxis, remises, tacografos, taximetros, accesorios, autos, remis, taxi, localizadores, mapa, Rio Cuarto, Cordoba, Ingenieria Giubergia, Giubergia, Ingeniero, Ingenieria">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="fonts/style.css">
    <link rel="stylesheet" href="fonts2/style2.css">
    <link rel="shortcut icon" type="image/x-icon" href=fav.png>
</head>

<body>
    <!--Comienza el menú-->
    <header>
        <div class="contenedor">
           <h1>Ingenieria Giubergia</h1>
           <input type="checkbox" id="menu-bar">
           <label class="icon-menu" for="menu-bar"></label>
           <nav class="menu">
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li class="submenu">
                        <a href="#">Productos<span class="caret icon-chevron-small-down"></span></a>
                        <ul class="children">
                            <li> <a href="taximetros.html">Relojes Taximetros</a></li>
                            <li> <a href="tacografos.html">Tacografos</a></li> 
                            <li> <a href="localizadores.html">Localizadores </a></li>
                            <li> <a href="accesorios.html">Accesorios</a></li>
                            <li><a href="handys.html">Handys</a></li>
                            <li><a href="radios.html">Radios</a></li>
                        </ul>
                    </li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
           </nav>
        </div>
    </header>
    <!--Termina el menu-->
    
      
    <!--Comienza el desarrollo y contenido de la pagina-->  
    
    <main>
      <!--Banner - imagen prncipal de la empresa-->
        <section id="banner">
            <img src="imagenes/banner.jpg" alt="banner Ing Giubergia">
        </section>
        <!--Termina el banner-->
        <!--Comienza el blog de TACOGRAFOS, se adjunta toda la informacion de los productos-->
        <section id="bloglocalizadores">
            <h3>LOCALIZADORES</h3>
               
                <div class="contenedor">
                    <article>
                        <h4>Localizador AVL DX-03 Plus</h4>
                        <div class="linea2"></div>
                        <br>
                        <article>
                           <div class="img3"><img src="imagenes/Localizadores/5.jpg" alt="Handy1"></div>
                        </article>
                        <div class="contenedortex">
                        <!--DESCRIPCION DEL PRODUCTO-->
                        <li>
                            <p>
                                <strong>BENEFICIOS</strong><br><br>
                            ○ MODEM Motorola G30 con anti-jamming, GPS Ublox de 52 canales, 10 entradas, 4 Salidas, Entrada de RPM, Registro de llave I buton, Acelerometro de 3D, Dual Sim, Bateria de Litio interna.<br>
                            ○ Memoria interna para almacenar los eventos ante la ausencia de GPRS. Opcionalmente posee comunicación satelital con antena Skywave.<br>
                            </p>
                        </li><br>
                   
                        <li>
                            <p>
                                <strong>REGISTROS</strong><br><br>
                            ○ Localización y rastreo satelital en tiempo real.<br>
                        </li><br>
                      
                        <div class="opcpro"><p><strong>Conectividad:</strong></p><br></div>
                        
                            <p> <strong>○ Tacógrafo DG-512 XP:</strong> Conectando el AVL al Tacografo DG-512 XP se puede obtener la información almacenada, como así también los eventos que permiten monitorear el desempeño del vehículo y su conductor en tiempo real.<br>
                        ○ <strong>Reloj Taxímetro Tango XP:</strong>
                        Conectando el AVL al reloj Taxímetro Tango XP se puede obtener la siguiente información: el importe del viaje en curso, estado del equipo y distancias recorridas.
                        Ofrece la posibilidad de descargar la información almacenada y realizar el despacho de flota on-line.
                        <br><br></p>
                        
                        <li>
                            <p>
                                <strong>ESPECIFICACIONES</strong><br><br>
                                
                            ○ Localización y rastreo satelital en tiempo real.<br>
                            o Comunicación GPRS: Motorola G30 GSM/GPRS (Cuatribanda 850/900/1800/1900Mhz).<br>
                            o 5 entradas Digitales.<br>
                            o 2 Entradas Analogicas.<br>
                            o 1 Entrada para ignicion.<br>
                            o 1 Entrada de RPM.<br>
                            o 1 Entrada para Temperatura.<br>
                            o Dual SIM: Permite dos prestadoras telefónicas.<br>
                            o Comunicación Satelital (*): Skywave.<br>
                            o GPS: GPS Ublox de 52 canales Sirft 5.<br>
                            o Protocolos de comunicación: Serie Asincrónico, SMS, UDP.<br>
                            o Formato de comunicación:Taip (Compatible).<br>
                            o Conectividad con dispositivos FUL-MAR: Tacógrafo DG-512 XP, Reloj Taxímetro XP.<br>
                            o Consumo en descanso: 7 mA.<br>
                            o Consumo máx. encendido: 210 mA.<br> 
                            o Batería: Autonomía de 4 horas.<br>
                            o Retención de datos: 10 años.<br>
                            o Reloj interno de tiempo real: Alimentado con batería independiente.<br>
                            o Montaje de componentes: Robótico sobre placa multicapa a SMD.<br>
                            (*) Opcional.<br>

                            o Características de funcionamiento.<br>
                            o Firmware actualizable: Descarga por puerto serie.<br>
                            o Configuración del equipo: Puerto Serie: Software FUL-MAR AVL-NET / GPRS / SMS.<br>
                            o Eventos programables: 90 eventos independientes.<br>
                            o Geocercas: 128 geocercas independientes.<br>
                            o Entradas digitales: 5 entradas digitales con protección contra sobretensiones.<br>
                            o Salidas digitales: 4 salidas independientes.<br>
                            o Entrada de ignición: 1 entrada independiente para la detección del contacto.<br> 
                            o Entradas Analógicas: 2 entradas analógicas (0v a 20v).<br>
                            o Entrada de RPM: 1 entrada independiente para medición de RPM.<br>
                            o Entradas de Temperatura: 1 entrada para sensor de temperatura digital.<br> 
                            o Acelerómetro: Tri-Axial para la detección de movimiento e inclinacion.<br>
                            o Entrada para llave I butom.<br><br>
        
                                
                        <div class="opcpro"><p><strong>Carac. fisicas del producto:</strong></p><br></div>
                        
                            <p> ○ Gabinete: Inyectado en ABS.<br>
                                ○ Peso: 175 grs. 
                        <br><br></p>
                            
                            
                        <div class="opcpro"><p><strong>Dimensiones del equipo:</strong></p><br></div>
                        
                            <p> ○ Gabinete: Inyectado en ABS.<br>
                                ○ Peso: 175 grs. <br>
                                o Dimensiones del equipo.<br>
                                o Largo: 153 mm.<br>
                                o Alto: 33 mm.<br>
                                o Ancho: 59 mm.<br>
                                o Conexiones: Ficha DB-9 para comunicación con Tacógrafo.<br>
                                o Conector de 18 pines para entradas y salidas.<br>
                        <br></p>                          
                           
                            
                        </li>
                        
                        
                    <li>
                            <p>
                                <strong>PRODUCTOS COMPLEMENTARIOS</strong><br><br>
                                o Tacógrafos. <br>
                                o Relojes Taxímetros. <br>
                                o Sensor de Temperatura. <br>
                                o Llave de Chofer. <br>

                            </p>
                        </li><br>
                   
                        
                        
                        
                   </div>
        </article>
       </section>
    </main>
    <!--Termina blog tacografos-->
    <!--Comienza el footer-->
    <footer>
        <div class="contenedor">
           <p class="copy"><strong> Ingenieria Giubergia &copy; 2016 </strong>
           </p>
           
            <div class="sociales">
                <p><strong>Sadi Carnot 1267 esq. Washington</strong></p>
                <p><strong>358 6015517 / 358 4027674 / 4643996</strong></p>
                <p>
                    <strong>Rio Cuarto - Córdoba</strong>
                </p>
            </div>
       </div>
    </footer>
    <!--Termina el footer-->
</body>
</html>