<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Ingenieria Giubergia - Radios</title>
    <meta name=robots content=all>
    <meta name=googlebot content=all>
    <meta name=language content=es>
    <meta name=classification content="Empresa orientada a la instalacion de accesorios para taxis">
    <meta property=type content=website>
    <meta property=site_name content="Ingenieria Giubergia">
    <meta property=title content="Empresas instaladoras de accesorios en taxis">
    <meta name=description content="Ingenieria Giubergia es una empresa orientada a la instalacion de accesorios (tacografos, taximetros, etc) en los vehiculos (taxis y remises).">
    <meta name=keywords content="taxis, remises, tacografos, taximetros, accesorios, autos, remis, taxi, localizadores, mapa, Rio Cuarto, Cordoba, Ingenieria Giubergia, Giubergia, Ingeniero, Ingenieria">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="fonts/style.css">
    <link rel="stylesheet" href="fonts2/style2.css">
    <link rel="shortcut icon" type="image/x-icon" href=fav.png>
</head>

<body>
    <header>
        <div class="contenedor">
           <h1>Ingenieria Giubergia</h1>
           <input type="checkbox" id="menu-bar">
           <label class="icon-menu" for="menu-bar"></label>
           <nav class="menu">
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li class="submenu">
                        <a href="#">Productos<span class="caret icon-chevron-small-down"></span></a>
                        <ul class="children">
                            <li> <a href="taximetros.html">Relojes Taximetros</a></li>
                            <li> <a href="tacografos.html">Tacografos</a></li> 
                            <li> <a href="localizadores.html">Localizadores </a></li>
                            <li> <a href="accesorios.html">Accesorios</a></li>
                            <li><a href="handys.html">Handys</a></li>
                            <li><a href="radios.html">Radios</a></li>
                        </ul>
                    </li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
           </nav>
        </div>
    </header>
   
    <main>
       <section id="banner">
     
            <img src="imagenes/banner.jpg" alt="">
       </section>

       <section id="blogradios">
            <h3>RADIOS</h3>
            <div class="contenedor">
                </article>
                <article>
                   <div class="img1"><img src="imagenes/Radios/11.jpg" alt="Radio1"></div>
                   <h4>VX-4500/4600 SERIES</h4>
                </article>
                <article>
                   <div class="img2"><img src="imagenes/Radios/11bis.jpg" alt="Radio2"></div>
                   <h4>VX-2100/2200 SERIES</h4>
                </article>
                <article>
                   <div class="img3"><img src="imagenes/Radios/12.jpg" alt="Radio3"></div>
                   <h4>VX-6000 SERIES</h4>
                </article>    
                <article>
                   <div class="img4"><img src="imagenes/Radios/12bis.jpg" alt="Radio4"></div>
                   <h4>VX-5500 SERIES </h4>
                </article>
                <article>
                   <div class="img5"><img src="imagenes/Radios/13.jpg" alt="Radio5"></div>
                   <h4>EVX-5300/5400 SERIES</h4>
                </article>
            </div>

       </section>
    </main>

    <footer>
        <div class="contenedor">
           <p class="copy"><strong> Ingenieria Giubergia &copy; 2016 </strong>
           </p>
           
            <div class="sociales">
                <p><strong>Sadi Carnot 1267 esq. Washington</strong></p>
                <p><strong>358 6015517 / 358 4027674 / 4643996</strong></p>
                <p>
                    <strong>Rio Cuarto - Córdoba</strong>
                </p>
            </div>
       </div>
    </footer>
</body>
</html>