<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Ingenieria Giubergia - Tacografos</title>
    <meta name=robots content=all>
    <meta name=googlebot content=all>
    <meta name=language content=es>
    <meta name=classification content="Empresa orientada a la instalacion de accesorios para taxis">
    <meta property=type content=website>
    <meta property=site_name content="Ingenieria Giubergia">
    <meta property=title content="Empresas instaladoras de accesorios en taxis">
    <meta name=description content="Ingenieria Giubergia es una empresa orientada a la instalacion de accesorios (tacografos, taximetros, etc) en los vehiculos (taxis y remises).">
    <meta name=keywords content="taxis, remises, tacografos, taximetros, accesorios, autos, remis, taxi, localizadores, mapa, Rio Cuarto, Cordoba, Ingenieria Giubergia, Giubergia, Ingeniero, Ingenieria">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="fonts/style.css">
    <link rel="stylesheet" href="fonts2/style2.css">
    <link rel="shortcut icon" type="image/x-icon" href=fav.png>
</head>

<body>
    <!--Comienza el menú-->
    <header>
        <div class="contenedor">
           <h1>Ingenieria Giubergia</h1>
           <input type="checkbox" id="menu-bar">
           <label class="icon-menu" for="menu-bar"></label>
           <nav class="menu">
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li class="submenu">
                        <a href="#">Productos<span class="caret icon-chevron-small-down"></span></a>
                        <ul class="children">
                            <li> <a href="taximetros.html">Relojes Taximetros</a></li>
                            <li> <a href="tacografos.html">Tacografos</a></li> 
                            <li> <a href="localizadores.html">Localizadores </a></li>
                            <li> <a href="accesorios.html">Accesorios</a></li>
                            <li><a href="handys.html">Handys</a></li>
                            <li><a href="radios.html">Radios</a></li>
                        </ul>
                    </li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
           </nav>
        </div>
    </header>
    <!--Termina el menu-->
    
      
    <!--Comienza el desarrollo y contenido de la pagina-->  
    
    <main>
      <!--Banner - imagen prncipal de la empresa-->
        <section id="banner">
            <img src="imagenes/banner.jpg" alt="banner Ing Giubergia">
        </section>
        <!--Termina el banner-->
        <!--Comienza el blog de TACOGRAFOS, se adjunta toda la informacion de los productos-->
        <section id="blogtacografos">
            <h3>LINEA DE TACOGRAFOS</h3>
               
                <div class="contenedor">
                    <article>
                        <h4>Tacógrafo FMD-1000</h4>
                        <div class="linea2"></div>
                        <br>
                        <article>
                           <div class="img3"><img src="imagenes/Tacografos/3.jpg" alt="Tacografo1"></div>
                        </article>
                        <div class="contenedortex">
                        <!--DESCRIPCION DEL PRODUCTO-->
                        <li>
                            <p>
                                <strong>BENEFICIOS</strong><br><br>
                            ○ Diseño y tecnología de última generación.<br> 
                            ○ 4 Gb de memoria interna la cual logra almacenar <br>3 años de información continua segundo a segundo sin necesidad de borrarla.<br>
                            ○ Visualización On line vía Web a través de vectio o por medio del sistema integral de flota(SIF).<br>
                            ○ Acelerómetro 3D que permite evaluar aceleraciones laterales, frenadas y descensos bruscos de velocidad.<br>
                            ○ Acelerómetro 3D que permite evaluar aceleraciones laterales, frenadas y descensos bruscos de velocidad.<br>
                            ○ Impresión de Disco Diagrama de Velocidad.<br>
                            ○ Posee 6 entradas y 4 salidas digitales, para controlar cualquier tipo de dispositivo.<br>
                            ○ Diseño DIN, limpio y original, el cual respeta las líneas del tablero quedando su instalación prolija, segura y confiable sin conexiones visibles.<br>
                            ○ Bateria Interna de backup.<br>
                            ○ Display gráfico de alta resolución de color azul.<br>
                            ○ Firmware reprogramable vía GPRS.<br>
                            ○ Dos Microprocesadores de 32 bits con sistema operativo embebido.<br>
                            ○ Único equipo en el mercado que incorpora GPS, GPRS, Tarjeta Chip para el conductor, Lector de Tarjeta SD e Impresora gráfica y conexión dual SIM GPRS y Satelital (opcional).<br>

                            </p>
                        </li><br>
                   
                        <li>
                           <p>
                                <strong>REGISTROS</strong><br><br>

                            <div class="opctick"><p>Control Logístico:</p><br></div>
                            <p>○ Registro continuo de RPM.  <br>
                            ○ Tiempo en ralentí.<br>
                            ○ Apagado y encendido del motor.<br>
                            ○ Identificación de conductores a través de Tarjeta Chip.<br>
                            ○ Control del consumo de combustible.<br></p>
                            </p>
                        </li><br>
                      
                        <div class="opcpro"><p>Control de motor:</p><br></div>
                        
                        <p>○ Corte de motor y/o aviso sonoro por:<br>
                        ○ Sobrecalentamiento.<br>
                        ○ Baja presión de aceite.<br>
                        ○ Exceso de velocidad.<br>
                        ○ Exceso de RPM.<br>
                        ○ Exceso de tiempo en ralentí.<br> </p><br>
                        
                       <div class="opcpro"><p>Disco diagrama:</p><br></div>
                        
                        <p>○ Seleccionado la opción en el menú, el equipo imprime automáticamente el recorrido de las ultimas 24 hs. Con formato Disco diagrama, homologado.<br>
                        ○ Grabación permanente del recorrido del móvil.<br>
                        ○ Alerta de velocidades máximas por zonas grabada en el equipo.<br>
                        ○ Visualización en pantalla del equipo: altitud, rumbo y coordenadas del viaje.<br>
                        ○ Grabación permanente del recorrido del móvil seg a seg.<br>
                        ○ Discriminación de velocidades máximas, por zonas.<br>
                        ○ Visualización en pantalla del equipo: altitud, rumbo y coordenadas del  <br>
                        ○ Visualización a través de pagina web o celular por medio de Software Vectio.<br>
                        ○ Análisis de la información on line por medio del Taco Fleet.(sistema de gestión de flota Ful-Mar)<br>
                        ○ Envío y recepción de mensajes a través de la pantalla del equipo. <br>
                        ○ Envío de alertas y desvíos por o e-mail.<br>
                        ○ Conexión a antena satelital skywave (opcional).<br></p><br>
                    <li>
                       <p>
                            <strong>PRODUCTOS COMPLEMENTARIOS</strong><br><br>
                            
                        <div class="opctick"><p>Caudalímetro:</p><br></div>
                        <p>○ Registro litro a litro sobre el consumo de combustible, permitiendo evaluar promedios y consumos entre fechas determinadas. <br>
                        ○ Tiempo en ralentí.<br>
                        ○ Apagado y encendido del motor.<br>
                        ○ Identificación de conductores a través de Tarjeta Chip.<br>
                        ○ Control del consumo de combustible.<br></p></p>
                    </li><br>
                    
                    <div class="opcpro"><p>Identificacion para conductores:</p><br></div>
                    
                    <p><strong>Llave Touch:  </strong><br>
                    • Identifica de forma rápida y segura a los conductores.</p>
                    <p><strong>Tarjeta Chip:</strong><br>
                    • Introduciendo la tarjeta en el equipo se reconoce al chofer, midiendo tiempos de trabajo y descanso, pudiendo ser descargada a una PC para su análisis.<br><br></p>

                     <div class="opctick"><p>Sistema integral de flotas:</p><br></div>
                    <p>○ Permite clasificar, filtrar y graficar toda la información contenida en el tacógrafo. Los datos pueden analizarse por móvil, por fecha, por conductor, etc. <br><br>
                    </div>
             
                    <h4>Tacografo Microkey</h4> 
                    <div class="linea2"></div>   
                    <article>
                       <div class="img3"><img src="imagenes/Tacografos/4.jpg" alt="Tacografo2"></div>
                    </article>
                    <div class="contenedortex">
                     <li>
                      <p>  
                         <strong> GENERAL</strong> <br><br> 
                      ○ Medicion de  de velocidad continua.<br/>
                      ○ Medicion de RPM<br/>
                      ○ Cantidad de accionamientos del pedal de frenoCantidad de accionamientos del pedal de freno<br/>
                      ○ Identificacion  de choferes mediante llave electronica<br/>
                      </p> 
                     </li>
                     </div>
                   </div>
        </article>
       </section>
    </main>
    <!--Termina blog tacografos-->
    <!--Comienza el footer-->
    <footer>
        <div class="contenedor">
           <p class="copy"><strong> Ingenieria Giubergia &copy; 2016 </strong>
           </p>
           
            <div class="sociales">
                <p><strong>Sadi Carnot 1267 esq. Washington</strong></p>
                <p><strong>358 6015517 / 358 4027674 / 4643996</strong></p>
                <p>
                    <strong>Rio Cuarto - Córdoba</strong>
                </p>
            </div>
       </div>
    </footer>
    <!--Termina el footer-->
</body>
</html>