<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>Ingenieria Giubergia - Taximetros</title>
    <meta name=robots content=all>
    <meta name=googlebot content=all>
    <meta name=language content=es>
    <meta name=classification content="Empresa orientada a la instalacion de accesorios para taxis">
    <meta property=type content=website>
    <meta property=site_name content="Ingenieria Giubergia">
    <meta property=title content="Empresas instaladoras de accesorios en taxis">
    <meta name=description content="Ingenieria Giubergia es una empresa orientada a la instalacion de accesorios (tacografos, taximetros, etc) en los vehiculos (taxis y remises).">
    <meta name=keywords content="taxis, remises, tacografos, taximetros, accesorios, autos, remis, taxi, localizadores, mapa, Rio Cuarto, Cordoba, Ingenieria Giubergia, Giubergia, Ingeniero, Ingenieria">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="fonts/style.css">
    <link rel="stylesheet" href="fonts2/style2.css">
    <link rel="shortcut icon" type="image/x-icon" href=fav.png>
</head>

<body>
   <!--Comienza menu-->
    <header>
        <div class="contenedor">
           <h1>Ingenieria Giubergia</h1>
           <input type="checkbox" id="menu-bar">
           <label class="icon-menu" for="menu-bar"></label>
           <nav class="menu">
                <ul>
                    <li><a href="index.html">Inicio</a></li>
                    <li class="submenu">
                        <a href="#">Productos<span class="caret icon-chevron-small-down"></span></a>
                        <ul class="children">
                            <li> <a href="taximetros.html">Relojes Taximetros</a></li>
                            <li> <a href="tacografos.html">Tacografos</a></li> 
                            <li> <a href="localizadores.html">Localizadores </a></li>
                            <li> <a href="accesorios.html">Accesorios</a></li>
                            <li><a href="handys.html">Handys</a></li>
                            <li><a href="radios.html">Radios</a></li>
                        </ul>
                    </li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
           </nav>
        </div>
    </header>
    <!--Termina menu-->
   <!--Comienza contenido y descripcion de los articulos, en este caso TAXIMETROS-->
    <main>
      <!--Banner -->
       <section id="banner">
            <img src="imagenes/banner.jpg" alt="banner Ing Giubergia">
       </section>
       <!--Termina banner-->
       
       <!--Comienza BLOG TAXIMETROS-->
       <section id="blogtaximetros">
            <h3>RELOJ TAXIMETROS</h3>
            <div class="contenedor">
                <article>
                   <h4>Reloj Taxímetro Tango XP</h4>
                   <div class="linea2"></div>
                   <br>
                    <article>
                       <div class="img3"><img src="imagenes/Relojestaximetros/1.jpg" alt="Taximetro1"></div>
                    </article>
                     <p>Ser líderes en el mercado es el resultado del esfuerzo. Nos caracterizamos por respetar las leyes, siendo nuestro Reloj Taxímetro Tango XP el primero aprobado por resolución 15/01 del MERCOSUR y la resolución 169/2001 del Programa de Metrología Legal Nro DNCI 59/2007. Además somos la primera empresa aprobada por el INTI para emitir certificados de conformidad.
                    </p> <br>
                    <div class="contenedortex">
                    <!--DESCRIPCION DEL PRODUCTO-->
                       <li>
                        <p>
                        <strong>BENEFICIOS</strong><br><br>
                        ○ Impresora térmica de alta velocidad de 24 caracteres.<br> 
                        ○ Registro detallado de los últimos 14 turnos.<br>
                        ○ Bandera de led de alta luminosidad incorporada*.<br>
                        ○ Registro de los últimos 12 meses de recaudación.<br>
                        ○ Descarga de datos a Excel través de tarjeta SD Card*.<br>
                        ○ Ubicación y despacho de viajes en tiempo real*.<br>
                        ○ Registro de los últimos 5 minutos de velocidad. <br>
                        ○ Pago con de tarjetas de crédito y de Debito*.<br>
                        ○ 6 tarifas independientes horarias con selección de sábado domingo y feriados.<br>
                        ○ Sensor de presencia de pasajero.*<br>
                        ○ Llave de máster de puesta a cero de turno y restricción de impresión de tickets.*<br>
                        ○ Identificación de Conductores por medio de llave.*<br>
                        ○ Tiempos Ocupado, marcha, libre y fuera de servicio.<br>
                        ○ Garantía 1 año, incluida la impresora. <br>
                            * Opcional.
                        </p>
                    </li><br>
                   
                    <li>
                       <p>
                        <strong>REGISTROS</strong><br><br>
                            
                        <div class="opctick"><p><strong>Tickets Disponibles:</strong></p><br></div>
                        <p>○ Ayuda (Impresión de Reportes disponibles).<br>
                        ○ Control (Información detallada sobre la programación del equipo).<br>
                        ○ Parcial (Datos parciales de la recaudación hasta el momento).<br>
                        ○ Últimos 5 minutos (Detalla segundo a segundo la velocidad).<br>
                        ○ sResumen de Trabajo últimos 40 días Indicando las horas de trabajo día a día.<br>
                        ○ Detalle del turno (Información detallada de cada viaje) en servicio.<br>
                        ○ Recaudación últimos 31 días (Detallado día por día la recaudación).<br>
                        ○ Total acumulado del ultimo año mes a mes desglosados por tarifa-<br>
                        ○ Total del turno (Información detallada del turno en servicio).<br>
                        ○ Ticket de Pasajero.</p></p></li><br>

                       <div class="opcpro"><p><strong>Opciones de Programacion:</strong></p><br></div>

                        <p>○ Impresión o no del ticket “Total del Turno”.<br>
                        ○ Emisión o no del ticket de pasajero.<br>
                        ○ Encendido automático por distancia. (50 metros).<br>
                        ○ Encendido automático por tiempo. (30 segundos).<br>
                        ○ 3 llaves codificadas máster. <br>
                        ○ 2 Llaves de chofer codificada. <br>
                        ○ 2 porcentajes de recaudación programable.<br>
                        ○ Habilitación de dispositivo antirrobo.<br>
                        ○ Programación de hasta 6 tarifas. (Las cuales pueden ser horarias o no) mas 2 especiales (Sábados, Domingos y Feriados).<br>
                        ○ Cambio de tarifa en viaje. <br>
                        ○ Emisión de ticket de pasajero en forma automática al terminar un viaje.<br>
                        ○ Discriminación o no del IVA.<br>
                        ○ Deshabilitar la función Fuera de servicio.<br>
                        ○ Deshabilitar la impresión de los datos del vehículo en ticket’s de recaudación.<br>
                        ○ Compatible con POSNET para el cobro con tarjetas de crédito / débito.</p><br>

                       
                       
                       </div>
                    <h4>Reloj Taxímetro Arial Milenio</h4>
                    <div class="linea2"></div>
                    <article>
                       <div class="img3"><img src="imagenes/Relojestaximetros/2.jpg" alt="Taximetro2"></div>
                    </article>
                    <div class="contenedortex">
                    <li>
                        <p>  
                          <strong>GENERAL</strong> <br><br> 
                            ○ compacto: el mismo tamaño que la bandera(sin partes Colgantes).<br/>
                            ○ Uso muy simple (solo 3 teclas).<br/>
                            ○ Muy liviano.<br/>
                            ○ Bandera incorporada.<br/>
                            ○ Impresora Termica.<br/>
                            ○ Display de gran luminosidad.<br/>
                            ○ Llave electronica de proteccion de tichets.<br/>
                            ○ Indicacion audible de :Excesos de velocidad, comandos por teclado y reconocimiento de llave electronica.<br>
                            ○ 10 tarifas (5 horarias automaticas).<br>
                            ○ Sensor de Pasajero.<br>
                            ○ Liquidacion de porcentajes.<br>
                            ○ Tickets de fácil lectura y comprension: <br>
                            - Parcialito: recaudacion realizada hasta ese insante en el dia.<br>
                            - Parcial: información del dia del trabajo.<br>
                            - Recaudacion del dia.<br>
                            - 2 porcentajes de la recaudacion diaria.<br>
                            - Km recorridos con el taxi ocupado.<br>
                            - Km recorridos durante el viaje.<br>
                            - Velocidad máxima de circulacion durante el viaje.<br>
                            - Importe en $ del viaje.<br>
                             ○ Desconexiones: fecha y hora de desconexion y reconexion del taximetro.<br>
                             ○ Recaudacion anual: recaudación mes por mes de los ultimos 12 meses.<br>
                             ○ Totales: km en ocupado, km en libre, fichas y recaudacion desde que se instalo el taximetro.<br>
                             ○ Cantidades de viajes.<br>
                             ○ Recaudacion totalizada.<br>
                             ○ Grafico de cantidad de viajes por hora con recaudación<br>
                             ○ Hora de inicio.<br>
                             ○ Hora de finalizacón.<br>
                             ○ Identificacion de chofer.<br>
                             ○ Tiempo que estuvo detenido el taxi antes del viaje.<br>
                             ○ Km recorridos antes del viaje.<br>
                             ○ Velocidad máxima de circulación antes del viaje.<br>
                             ○ Tiempo en espera durante el viaje.<br>
                             ○ Km recorridos durante el viaje.<br>
                             ○ Velocidad máxima de circulación durante el viaje.<br>
                              </p> 
                    </li>
                    </div>
        </div> 
        </article>
       </section>
    </main>
<!--Termina contenido de blog TAXIMETROS-->
   
    <!--Comienza el footer -->
    <footer>
        <div class="contenedor">
           <p class="copy"><strong> Ingenieria Giubergia &copy; 2016 </strong>
           </p>
           
            <div class="sociales">
                <p><strong>Sadi Carnot 1267 esq. Washington</strong></p>
                <p><strong>358 6015517 / 358 4027674 / 4643996</strong></p>
                <p>
                    <strong>Rio Cuarto - Córdoba</strong>
                </p>
            </div>
       </div>
    </footer>
    <!--Termina footer-->
</body>
</html>